# COVID-19 KPI Analysis (India: 2020â€“2021)

**Data Source:** Our World in Data (OWID)  
**Toolchain:** Python (Jupyter in VS Code) + Power BI  
**Author:** Suhas GS

## 1. Import Libraries
## 2. Load Dataset
## 3. Initial Inspection
## 4. Data Cleaning
## 5. Feature Engineering
## 6. Data Aggregation
## 7. Export Cleaned Dataset

In [2]:
pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Collecting matplotlib
  Downloading matplotlib-3.10.8-cp314-cp314-win_amd64.whl.metadata (52 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.3-cp314-cp314-win_amd64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.61.1-cp314-cp314-win_amd64.whl.metadata (116 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.9-cp314-cp314-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: numpy>=1.23 in c:\users\user\appdata\roaming\python\python314\site-packages (from matplotlib) (2.4.0)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\roaming\python\python314\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\user\appdata\roaming\python\python314\site-packages (from matplotlib) (12.0.0)
Collecting pyparsing>=3 (from matplotlib)
  Downloading pyparsing-3.3.1-py3-none-any.whl.metadata (5.6 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\appdata\roaming\python\python314\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python314\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.10.8-cp314-cp314-win_amd64.whl (8.3 MB)
   ---------------------------------------- 0.0/8.3 MB ? eta -:--:--
   - -------------------------------------- 0.3/8.3 MB ? eta -:--:--
   --- ------------------------------------ 0.8/8.3 MB 1.8 MB/s eta 0:00:05
   ----- ---------------------------------- 1.0/8.3 MB 2.0 MB/s eta 0:00:04
   ------ --------------------------------- 1.3/8.3 MB 1.9 MB/s eta 0:00:04
   -------- ------------------------------- 1.8/8.3 MB 1.8 MB/s eta 0:00:04
   -------- ------------------------------- 1.8/8.3 MB 1.8 MB/s eta 0:00:04
   ---------- ----------------------------- 2.1/8.3 MB 1.6 MB/s eta 0:00:04
   ------------ --------------------------- 2.6/8.3 MB 1.6 MB/s eta 0:00:04
   ------------- -------------------------- 2.9/8.3 MB 1.5 MB/s eta 0:00:04
   --------------- ------------------------ 3.1/8.3 MB 1.5 MB/s eta 0:00:04
   ---------------- ----------------------- 3.4/8.3 MB 1.5 MB/s eta 0:00:04
   ----------------- ---------------------- 3.7/8.3 MB 1.5 MB/s eta 0:00:04
   -------------------- ------------------- 4.2/8.3 MB 1.5 MB/s eta 0:00:03
   -------------------- ------------------- 4.2/8.3 MB 1.5 MB/s eta 0:00:03
   ---------------------- ----------------- 4.7/8.3 MB 1.5 MB/s eta 0:00:03
   ------------------------ --------------- 5.0/8.3 MB 1.5 MB/s eta 0:00:03
   ------------------------- -------------- 5.2/8.3 MB 1.5 MB/s eta 0:00:03
   -------------------------- ------------- 5.5/8.3 MB 1.4 MB/s eta 0:00:02
   ----------------------------- ---------- 6.0/8.3 MB 1.5 MB/s eta 0:00:02
   ------------------------------- -------- 6.6/8.3 MB 1.5 MB/s eta 0:00:02
   ------------------------------- -------- 6.6/8.3 MB 1.5 MB/s eta 0:00:02
   ---------------------------------- ----- 7.1/8.3 MB 1.5 MB/s eta 0:00:01
   ----------------------------------- ---- 7.3/8.3 MB 1.5 MB/s eta 0:00:01
   ------------------------------------ --- 7.6/8.3 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------  8.1/8.3 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 8.3/8.3 MB 1.5 MB/s  0:00:05
Downloading contourpy-1.3.3-cp314-cp314-win_amd64.whl (232 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.61.1-cp314-cp314-win_amd64.whl (2.3 MB)
   ---------------------------------------- 0.0/2.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.3 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.3 MB 2.6 MB/s eta 0:00:01
   ------------- -------------------------- 0.8/2.3 MB 1.9 MB/s eta 0:00:01
   ---------------------- ----------------- 1.3/2.3 MB 1.8 MB/s eta 0:00:01
   --------------------------- ------------ 1.6/2.3 MB 1.7 MB/s eta 0:00:01
   ------------------------------- -------- 1.8/2.3 MB 1.6 MB/s eta 0:00:01
   ---------------------------------------- 2.3/2.3 MB 1.7 MB/s  0:00:01
Downloading kiwisolver-1.4.9-cp314-cp314-win_amd64.whl (75 kB)
Downloading pyparsing-3.3.1-py3-none-any.whl (121 kB)
Installing collected packages: pyparsing, kiwisolver, fonttools, cycler, contourpy, matplotlib

   ------ --------------------------------- 1/6 [kiwisolver]
   ------------- -------------------------- 2/6 [fonttools]
   ------------- -------------------------- 2/6 [fonttools]
   ------------- -------------------------- 2/6 [fonttools]
   ------------- -------------------------- 2/6 [fonttools]
   ------------- -------------------------- 2/6 [fonttools]
   ------------- -------------------------- 2/6 [fonttools]
   ------------- -------------------------- 2/6 [fonttools]
   ------------- -------------------------- 2/6 [fonttools]
   ------------- -------------------------- 2/6 [fonttools]
   -------------------------- ------------- 4/6 [contourpy]
   --------------------------------- ------ 5/6 [matplotlib]
   --------------------------------- ------ 5/6 [matplotlib]
   --------------------------------- ------ 5/6 [matplotlib]
   --------------------------------- ------ 5/6 [matplotlib]
   --------------------------------- ------ 5/6 [matplotlib]
   --------------------------------- ------ 5/6 [matplotlib]
   --------------------------------- ------ 5/6 [matplotlib]
   --------------------------------- ------ 5/6 [matplotlib]
   --------------------------------- ------ 5/6 [matplotlib]
   --------------------------------- ------ 5/6 [matplotlib]
   --------------------------------- ------ 5/6 [matplotlib]
   --------------------------------- ------ 5/6 [matplotlib]
   --------------------------------- ------ 5/6 [matplotlib]
   --------------------------------- ------ 5/6 [matplotlib]
   ---------------------------------------- 6/6 [matplotlib]

Successfully installed contourpy-1.3.3 cycler-0.12.1 fonttools-4.61.1 kiwisolver-1.4.9 matplotlib-3.10.8 pyparsing-3.3.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\user\appdata\roaming\python\python314\site-packages (from seaborn) (2.4.0)
Requirement already satisfied: pandas>=1.2 in c:\users\user\appdata\roaming\python\python314\site-packages (from seaborn) (2.3.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\user\appdata\roaming\python\python314\site-packages (from seaborn) (3.10.8)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\roaming\python\python314\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\roaming\python\python314\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\roaming\python\python314\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\user\appdata\roaming\python\python314\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\roaming\python\python314\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\user\appdata\roaming\python\python314\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (12.0.0)
Requirement already satisfied: pyparsing>=3 in c:\users\user\appdata\roaming\python\python314\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\appdata\roaming\python\python314\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\roaming\python\python314\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\roaming\python\python314\site-packages (from pandas>=1.2->seaborn) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python314\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\user\appdata\roaming\python\python314\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\appdata\roaming\python\python314\site-packages (from pandas) (2.4.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python314\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\roaming\python\python314\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\roaming\python\python314\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python314\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\user\appdata\roaming\python\python314\site-packages (2.4.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

In [7]:
df = pd.read_csv('../data/owid-covid-data.csv')
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,tests_units,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed,new_people_vaccinated_smoothed_per_hundred,stringency_index,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,54.42,18.6,2.58,1.34,1803.99,NaN,597.03,9.59,NaN,NaN,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,54.42,18.6,2.58,1.34,1803.99,NaN,597.03,9.59,NaN,NaN,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,54.42,18.6,2.58,1.34,1803.99,NaN,597.03,9.59,NaN,NaN,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,54.42,18.6,2.58,1.34,1803.99,NaN,597.03,9.59,NaN,NaN,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,54.42,18.6,2.58,1.34,1803.99,NaN,597.03,9.59,NaN,NaN,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN

In [8]:
india_df = df[df['location'] == 'India']
india_df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,tests_units,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed,new_people_vaccinated_smoothed_per_hundred,stringency_index,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
173549,IND,Asia,India,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,450.42,28.2,5.99,3.41,6426.67,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.64,1417173120,NaN,NaN,NaN,NaN
173550,IND,Asia,India,2020-01-06,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,450.42,28.2,5.99,3.41,6426.67,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.64,1417173120,NaN,NaN,NaN,NaN
173551,IND,Asia,India,2020-01-07,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,450.42,28.2,5.99,3.41,6426.67,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.64,1417173120,NaN,NaN,NaN,NaN
173552,IND,Asia,India,2020-01-08,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,450.42,28.2,5.99,3.41,6426.67,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.64,1417173120,NaN,NaN,NaN,NaN
173553,IND,Asia,India,2020-01-09,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,450.42,28.2,5.99,3.41,6426.67,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.64,1417173120,NaN,NaN,NaN,NaN

In [9]:
india_df['date'] = pd.to_datetime(india_df['date'])

C:\Users\User\AppData\Local\Temp\ipykernel_27628\1631254689.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  india_df['date'] = pd.to_datetime(india_df['date'])

In [10]:
final_df = india_df[(india_df['date'].dt.year >= 2020) & 
                    (india_df['date'].dt.year <= 2021)]

In [11]:
final_df = final_df.reset_index(drop=True)

In [12]:
final_df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,tests_units,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed,new_people_vaccinated_smoothed_per_hundred,stringency_index,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,IND,Asia,India,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,450.42,28.2,5.99,3.41,6426.67,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.64,1417173120,NaN,NaN,NaN,NaN
1,IND,Asia,India,2020-01-06,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,450.42,28.2,5.99,3.41,6426.67,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.64,1417173120,NaN,NaN,NaN,NaN
2,IND,Asia,India,2020-01-07,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,450.42,28.2,5.99,3.41,6426.67,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.64,1417173120,NaN,NaN,NaN,NaN
3,IND,Asia,India,2020-01-08,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,450.42,28.2,5.99,3.41,6426.67,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.64,1417173120,NaN,NaN,NaN,NaN
4,IND,Asia,India,2020-01-09,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,450.42,28.2,5.99,3.41,6426.67,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.64,1417173120,NaN,NaN,NaN,NaN

In [13]:
final_df.shape

(727, 67)

In [14]:
final_df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [15]:
final_df.isnull().sum()

iso_code                                     0
continent                                    0
location                                     0
date                                         0
total_cases                                  0
                                          ...
population                                   0
excess_mortality_cumulative_absolute       727
excess_mortality_cumulative                727
excess_mortality                           727
excess_mortality_cumulative_per_million    727
Length: 67, dtype: int64

In [16]:
use_columns = [
    'date',
    'total_cases',
    'new_cases',
    'total_deaths',
    'new_deaths',
    'total_tests',
    'new_tests',
    'people_vaccinated',
    'people_fully_vaccinated',
    'population'
]

In [17]:
final_df_clean = final_df[use_columns].copy()

In [18]:
final_df_clean[['new_cases', 'new_deaths', 'new_tests']] = \
final_df_clean[['new_cases', 'new_deaths', 'new_tests']].fillna(0)

In [23]:
final_df_clean[['total_cases', 'total_deaths', 'total_tests',
                'people_vaccinated', 'people_fully_vaccinated']] = \
final_df_clean[['total_cases', 'total_deaths', 'total_tests',
                'people_vaccinated', 'people_fully_vaccinated']].ffill()

In [24]:
final_df_clean = final_df_clean.fillna(0)

In [25]:
final_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 727 entries, 0 to 726
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     727 non-null    datetime64[ns]
 1   total_cases              727 non-null    float64
 2   new_cases                727 non-null    float64
 3   total_deaths             727 non-null    float64
 4   new_deaths               727 non-null    float64
 5   total_tests              727 non-null    float64
 6   new_tests                727 non-null    float64
 7   people_vaccinated        727 non-null    float64
 8   people_fully_vaccinated  727 non-null    float64
 9   population               727 non-null    int64
dtypes: datetime64[ns](1), float64(8), int64(1)
memory usage: 56.9 KB

In [26]:
final_df_clean.head()

,date,total_cases,new_cases,total_deaths,new_deaths,total_tests,new_tests,people_vaccinated,people_fully_vaccinated,population
0,2020-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1417173120
1,2020-01-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1417173120
2,2020-01-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1417173120
3,2020-01-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1417173120
4,2020-01-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1417173120

In [31]:
final_df_clean.tail()

,date,total_cases,new_cases,total_deaths,new_deaths,total_tests,new_tests,people_vaccinated,people_fully_vaccinated,population
722,2021-12-27,34786802.0,0.0,479682.0,0.0,672936621.0,939539.0,838318164.0,580128955.0,1417173120
723,2021-12-28,34786802.0,0.0,479682.0,0.0,674078531.0,1141910.0,840095473.0,585974301.0,1417173120
724,2021-12-29,34786802.0,0.0,479682.0,0.0,675246143.0,1167612.0,842315450.0,592880391.0,1417173120
725,2021-12-30,34786802.0,0.0,479682.0,0.0,676445395.0,1199252.0,843220793.0,595496704.0,1417173120
726,2021-12-31,34786802.0,0.0,479682.0,0.0,677878255.0,1432860.0,845640601.0,603224821.0,1417173120

In [32]:
final_df_clean['year'] = final_df_clean['date'].dt.year
final_df_clean['month'] = final_df_clean['date'].dt.month
final_df_clean['month_name'] = final_df_clean['date'].dt.strftime('%B')

In [ ]:
final_df_clean['death_rate'] = (
    (final_df_clean['total_deaths'] / final_df_clean['total_cases']) * 100
)

In [36]:
final_df_clean['daily_case_growth'] = (final_df_clean['new_cases'] / final_df_clean['total_cases']) * 100

In [35]:
final_df_clean['vaccinated_percent'] = (
    final_df_clean['people_fully_vaccinated'] / final_df_clean['population']
) * 100

In [37]:
max_new_cases = final_df_clean['new_cases'].max()

final_df_clean['peak_case_day'] = final_df_clean['new_cases'].apply(
    lambda x: 1 if x == max_new_cases else 0
)

In [38]:
final_df_model = final_df_clean.copy()

In [39]:
final_df_model.head()

,date,total_cases,new_cases,total_deaths,new_deaths,total_tests,new_tests,people_vaccinated,people_fully_vaccinated,population,year,month,month_name,death_rate,daily_case_growth,vaccinated_percent,peak_case_day
0,2020-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1417173120,2020,1,January,NaN,NaN,0.0,0
1,2020-01-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1417173120,2020,1,January,NaN,NaN,0.0,0
2,2020-01-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1417173120,2020,1,January,NaN,NaN,0.0,0
3,2020-01-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1417173120,2020,1,January,NaN,NaN,0.0,0
4,2020-01-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1417173120,2020,1,January,NaN,NaN,0.0,0

In [40]:
final_df_model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 727 entries, 0 to 726
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     727 non-null    datetime64[ns]
 1   total_cases              727 non-null    float64
 2   new_cases                727 non-null    float64
 3   total_deaths             727 non-null    float64
 4   new_deaths               727 non-null    float64
 5   total_tests              727 non-null    float64
 6   new_tests                727 non-null    float64
 7   people_vaccinated        727 non-null    float64
 8   people_fully_vaccinated  727 non-null    float64
 9   population               727 non-null    int64
 10  year                     727 non-null    int32
 11  month                    727 non-null    int32
 12  month_name               727 non-null    object
 13  death_rate               699 non-null    float64
 14  daily_case_growth        699 non-null    float64
 15  vaccinated_percent       727 non-null    float64
 16  peak_case_day            727 non-null    int64
dtypes: datetime64[ns](1), float64(11), int32(2), int64(2), object(1)
memory usage: 91.0+ KB

In [42]:
monthly_df = final_df_model.groupby(
    ['year', 'month', 'month_name'], as_index=False
).agg({
    'new_cases': 'sum',
    'new_deaths': 'sum',
    'total_cases': 'max',     # End of month cumulative
    'total_deaths': 'max',
    'vaccinated_percent': 'max',
})

In [43]:
yearly_df = final_df_model.groupby(
    ['year'], as_index=False
).agg({
    'new_cases': 'sum',
    'new_deaths': 'sum',
    'total_cases': 'max',
    'total_deaths': 'max',
    'vaccinated_percent': 'max',
})

In [44]:
def get_wave(date):
    if pd.Timestamp('2020-04-01') <= date <= pd.Timestamp('2020-11-30'):
        return 'Wave 1'
    elif pd.Timestamp('2021-03-01') <= date <= pd.Timestamp('2021-06-30'):
        return 'Wave 2'
    else:
        return 'No Wave'

final_df_model['wave'] = final_df_model['date'].apply(get_wave)

In [45]:
wave_df = final_df_model.groupby(
    ['wave'], as_index=False
).agg({
    'new_cases': 'sum',
    'new_deaths': 'sum',
    'total_cases': 'max',
    'total_deaths': 'max',
})

In [46]:
monthly_df.head()
yearly_df.head()
wave_df.head()

      wave   new_cases  new_deaths  total_cases  total_deaths
0  No Wave   6258410.0    104311.0   34786802.0      479682.0
1   Wave 1   9391940.0    136671.0    9392919.0      136696.0
2   Wave 2  19136452.0    238700.0   30233183.0      395751.0

In [47]:
final_df_model.to_csv('../data/covid_india_daily.csv', index=False)

In [48]:
monthly_df.to_csv('../data/covid_india_monthly.csv', index=False)

In [49]:
yearly_df.to_csv('../data/covid_india_yearly.csv', index=False)

In [50]:
wave_df.to_csv('../data/covid_india_waves.csv', index=False)

In [51]:
import os

os.listdir('../data')

['covid_india_daily.csv',
 'covid_india_monthly.csv',
 'covid_india_waves.csv',
 'covid_india_yearly.csv',
 'owid-covid-data.csv']